.artBoard {
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  height: 703px;
  width: 1000px;
  border-width: 2px;
  border-color: black;
    text-align: center;
    margin: 20px 0;
    z-index: -1;
  }
  
  .image {
    height: 700px;
    border-radius: 0px;
  }
  
  .title {
    font-size: 24px;
    margin-top: 10px;
  }
  