.artBoard {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  top: 0;
  right: 0;
  height: 100%-2px;
  width: 100%;
  padding: 40px;
  text-align: center;
  }
  .artFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68%;
    height: 100%;
    border-width: 1px;
    border-color: black;
    box-sizing:border-box;
    overflow: hidden;
    pointer-events: auto;
  }
  
  .image {
    z-index: -1;
  }
  
  .title {
    font-size: 24px;
    margin-right: 20px;
    margin-bottom: 0;
    height: 30px;
    user-select: text;
  }
  