.galleryWrapper {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    scrollbar-width: none; /* Firefoxでスクロールバー非表示 */
    -webkit-overflow-scrolling: touch; /* モバイルデバイスのスムーズスクロール */
    -ms-overflow-style: none; /* IE・Edgeでスクロールバー非表示 */
    height: 100%; /* 画像の縦幅 */
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 40px;
}

.galleryWrapper::-webkit-scrollbar {
    display: none; /* ChromeやSafariでスクロールバー非表示 */
}

.image {
    flex-shrink: 0; 
    display: block;
    z-index: 1;
    border-width: 1px;
    border-color: black;
}
.verticalFrame{
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.horizontalFrame{
    flex-shrink: 0; 
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding:0;
}

.space {
    flex-shrink: 0; 
    width: 40vw; 
    height: 100%;
}
