.galleryWrapper {
    display: flex;
    overflow: auto;
    scrollbar-width: none; /* Firefoxでスクロールバー非表示 */
    -webkit-overflow-scrolling: touch; /* モバイルデバイスのスムーズスクロール */
    -ms-overflow-style: none; /* IE・Edgeでスクロールバー非表示 */
    width: 100vw;
    height: 100%; /* 画像の縦幅 */
    z-index: 1;
}

.galleryWrapper::-webkit-scrollbar {
    display: none; /* ChromeやSafariでスクロールバー非表示 */
}
.imageContainer {
    flex-shrink: 0; /* 要素の縮小を禁止 */
    height: 100%; /* 親要素に合わせる */
    z-index: 1;
}

.image {
    height: 100%; /* 縦幅を固定 */
    width: auto; /* 横幅は比率に応じて調整 */
    display: block;
    z-index: 1;
}

.space {
    flex-shrink: 0; /* 要素の縮小を禁止 */
    width: 40vw; 
    height: 100%;
}
